@using Aula_MVC_EntityFramework.MVC
@using Aula_MVC_EntityFramework.MVC.Models
@model Paginador<ProdutoModel>

@{
	ViewData["Title"] = "Home Page";
}

<h2>Lista de Produtos</h2>

@if (Model != null && Model.Any())
{
	@using (Html.BeginForm(actionName: "Index", controllerName: "Produto", FormMethod.Get))
	{
		<div class="form-action no-color">
			<p>
				Filtrar por nome: <input type="text" name="pesquisarProduto" value="@ViewData["NomeDoProduto"]" />
				<input type="submit" value="Pesquisar" class="btn btn-primary" />
			</p>
		</div>
	}

	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.ActionLink("Nome",
										"Index",
										new
										{
											ordenarDados = ViewData["NomeOrdenado"]
										},
										htmlAttributes: new { @class = "nav-link text-dark" })
				</th>
				<th>
					@Html.ActionLink(linkText: "Preço",
										actionName: "Index",
										routeValues: new { ordenarDados = ViewData["PrecoOrdenado"] },
										htmlAttributes: new { @class = "nav-link text-dark" })
				</th>
				<th>
					@Html.ActionLink(linkText: "Preço",
										actionName: "Index",
										routeValues: new { ordenarDados = ViewData["PrecoOrdenado"] },
										htmlAttributes: new { @class = "nav-link text-dark" })
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var produto in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => produto.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => produto.Preco)
					</td>
					<td>
						@Html.ActionLink("Editar", "Edit", new { id = produto.Id }) |
						@Html.ActionLink("Detalhar", "Details", new { id = produto.Id }) |
						@Html.ActionLink("Excluir", "Delete", new { id = produto.Id })
					</td>
				</tr>
			}
		</tbody>
	</table>

	var desabilitarAnterior = !Model.TemPaginaAnterior ? "none" : "";
	var desabilitarProxima = !Model.TemProximaPagina ? "none" : "";

	@Html.ActionLink("Anterior", "Index", new
		{
			ordenarDados = ViewBag.Dados.OrdenarDados,
			pesquisarProduto = ViewBag.Dados.PesquisarProduto,
			numeroPaginas = Model.PaginaInicial - 1
		}, new { @class = "btn btn-primary", style = $"pointer-events:{desabilitarAnterior}" })

	@Html.ActionLink("Próxima", "Index", new
		{
			ordenarDados = ViewBag.Dados.OrdenarDados,
			pesquisarProduto = ViewBag.Dados.PesquisarProduto,
			numeroPaginas = Model.PaginaInicial + 1
		}, new { @class = "btn btn-primary", style = $"pointer-events:{desabilitarProxima}" })
}
else
{
	<p>Nenhum produto encontrado.</p>
}

<div class="modal-footer">
	@Html.ActionLink("Adicionar", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</div>